name: ci_meson

on:
  - push
  - pull_request

jobs:

  formatting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: |
        sh format_code.sh
        git diff --exit-code

  linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.x'
    - run: pip install meson ninja
    - run: |
        sudo add-apt-repository -y "deb http://archive.ubuntu.com/ubuntu `lsb_release -sc` main universe restricted multiverse"
        sudo apt-get update -y -qq
        sudo apt-get install libreadline-dev libsdl2-dev
    - run: meson setup -Dgame_cheats=true -Dpsys_debugger=true -Ddebug_ui=true builddir/
      env:
        CC: gcc
    - run: ninja -C builddir
    - run: meson test -C builddir/ -v
    - uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: Linux_Meson_Testlog
        path: builddir/meson-logs/testlog.txt


# XXX disable psys_debugger for MacOS for now as it can't seem to find brew's readline
  macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.x'
    - run: brew install sdl2
    - run: pip install meson ninja
    - run: meson setup -Dgame_cheats=true -Ddebug_ui=true builddir/
    - run: ninja -C builddir
    - run: meson test -C builddir/ -v
    - uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: MacOS_Meson_Testlog
        path: builddir/meson-logs/testlog.txt

# Disable psys_debugger for windows because we don't have a console window like that there anyway.
  windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.x'
    - name: Prepare MSVC
      uses: bus1/cabuild/action/msdevshell@v1
      with:
        architecture: x64
    - run: pip install meson ninja
    - run: |
        mkdir subprojects
        meson wrap install sdl2
    - run: meson setup -Dgame_cheats=true -Ddebug_ui=true builddir/
    - run: ninja -C builddir
    - run: meson test -C builddir/ -v
    - uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: Windows_Meson_Testlog
        path: builddir/meson-logs/testlog.txt
